body {
    background-color: #fff;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.pad_lf_reg {
    padding: 0 1rem;
}

.full_page {
    height: 100vh;
}

.text_center {
    text-align: center;
}

.heading_line_sm::after {
    content: "";
    display: block;
    background: black;
    width: 4rem;
    height: 3px;
    margin: 0.75rem auto 0 auto;
    box-shadow: 2px 3px 3px 2px rgba(0, 0, 0, 0.048);
    border-radius: 3px;
}

.heading_line_md::after {
    content: "";
    display: block;
    background: black;
    width: 6rem;
    height: 4px;
    margin: 0.75rem auto 0 auto;
    box-shadow: 2px 3px 3px 2px rgba(0, 0, 0, 0.048);
    border-radius: 4px;
}

.heading_line_lg::after {
    content: "";
    display: block;
    background: black;
    width: 8rem;
    height: 4px;
    margin: 0.75rem auto 0 auto;
    box-shadow: 2px 3px 3px 2px rgba(0, 0, 0, 0.048);
    border-radius: 4px;
}

.pad_tb_reg {
    padding: 1rem 0;
}

section.welcome-page {
    /*
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQbJVPRI_-XMoDSM5r3hQtt9eX8S3C_xVls9wxhtDSVUnJ3HmrI);
    */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

/*
background-color: #0068ad;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='194' height='194' viewBox='0 0 200 200'%3E%3Cg %3E%3Cpolygon fill='%23b36d23' points='100 57.1 64 93.1 71.5 100.6 100 72.1'/%3E%3Cpolygon fill='%23d9852b' points='100 57.1 100 72.1 128.6 100.6 136.1 93.1'/%3E%3Cpolygon fill='%23b36d23' points='100 163.2 100 178.2 170.7 107.5 170.8 92.4'/%3E%3Cpolygon fill='%23d9852b' points='100 163.2 29.2 92.5 29.2 107.5 100 178.2'/%3E%3Cpath fill='%23ff9c32' d='M100 21.8L29.2 92.5l70.7 70.7l70.7-70.7L100 21.8z M100 127.9L64.6 92.5L100 57.1l35.4 35.4L100 127.9z'/%3E%3Cpolygon fill='%23ae3f2b' points='0 157.1 0 172.1 28.6 200.6 36.1 193.1'/%3E%3Cpolygon fill='%23d34d35' points='70.7 200 70.8 192.4 63.2 200'/%3E%3Cpolygon fill='%23f85a3e' points='27.8 200 63.2 200 70.7 192.5 0 121.8 0 157.2 35.3 192.5'/%3E%3Cpolygon fill='%23d34d35' points='200 157.1 164 193.1 171.5 200.6 200 172.1'/%3E%3Cpolygon fill='%23ae3f2b' points='136.7 200 129.2 192.5 129.2 200'/%3E%3Cpolygon fill='%23f85a3e' points='172.1 200 164.6 192.5 200 157.1 200 157.2 200 121.8 200 121.8 129.2 192.5 136.7 200'/%3E%3Cpolygon fill='%23ae3f2b' points='129.2 0 129.2 7.5 200 78.2 200 63.2 136.7 0'/%3E%3Cpolygon fill='%23f85a3e' points='200 27.8 200 27.9 172.1 0 136.7 0 200 63.2 200 63.2'/%3E%3Cpolygon fill='%23d34d35' points='63.2 0 0 63.2 0 78.2 70.7 7.5 70.7 0'/%3E%3Cpolygon fill='%23f85a3e' points='0 63.2 63.2 0 27.8 0 0 27.8'/%3E%3C/g%3E%3C/svg%3E");
*/

/*
background-color: #ffffff;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%230068ad' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%232a4bad' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23326597' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23555494' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23636281' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%237f5d7b' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%2395606a' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23aa6563' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23c65d54' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%23d46e4a' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23f85a3e' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23ff7731' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
*/

.arrow {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -20px;
    /*change with size of arrow to make sit on bottom */
    /*   background-image: url(); */
    /*   background-size: contain; */
}

i.fa-angle-down {
    background: linear-gradient(to bottom, $primary_color, rgb(36, 219, 210));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}

.project_page_title {
    color: black;
}