header {
    background: $primary-color;
    text-align: center;
    position: fixed;
    z-index: 999;
    width: 100%;
    top: 0;
    padding: 1.25rem 0;
}

.logo {
    color: #fff;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.75rem;
    margin: 0;
    align-self: center;
}

/* changed this from the tutorial video to
   allow it to gain focus, making it tabbable */

.nav-toggle {
    display: none;
}

.nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-toggle-label span {
    height: 3px;
    width: 2rem;
    border-radius: 2px;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: #fff;
    position: relative;
    box-shadow: 2px 3px 3px 2px rgba(0, 0, 0, 0.1);
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
    height: 3px;
    width: 2rem;
    border-radius: 2px;
}

.nav-toggle-label span::before {
    bottom: 8px;
}

.nav-toggle-label span::after {
    top: 8px;
}

nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: $secondary-color;
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    padding: 1rem;
    width: 100%;
    text-align: center;
    border-bottom: 2px solid #fff;
}

nav button {
    background: transparent;
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
    outline: none;
    border: none;
    cursor: pointer;
}

nav button:hover {
    color: $teritary_color;
}

.nav-toggle:checked~nav button {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

nav a:hover {
    color: $teritary_color;
}

.nav-toggle:checked~nav {
    transform: scale(1, 1);
}

.nav-toggle:checked~nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

@media screen and (min-width: 800px) {
    .nav-toggle-label {
        display: none;
    }
    header {
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 4fr) 1fr;
        padding: 1rem 0;
    }
    .logo {
        grid-column: 2 / 3;
    }
    nav {
        all: unset;
        grid-column: 3 / 4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    nav ul {
        display: flex;
    }
    nav li {
        margin-bottom: 0;
        border-bottom: none;
        display: flex;
        align-items: center;
        padding: 0 1rem;
        margin: 0;
    }
    nav button {
        background: transparent;
        border: 2px solid $secondary-color;
        outline: none;
        border-radius: 1rem;
        color: #fff;
        opacity: 1;
        font-size: 1.25rem;
        text-transform: none;
        width: 130px;
        padding: 0.2rem 0.25rem;
    }
    nav button:hover {
        background: $secondary-color;
        color: #fff;
    }
    nav a {
        opacity: 1;
        position: relative;
    }
    nav a::before {
        content: '';
        display: block;
        height: 3px;
        background: $teritary_color;
        border-radius: 3px;
        position: absolute;
        top: 1.4rem;
        left: 0;
        right: 0;
        transform: scale(0, 1);
        transition: transform ease-in-out 400ms;
    }
    nav a:hover::before {
        transform: scale(1, 1);
    }
}