.project_page_hero {
    background: linear-gradient(to bottom, $primary_color, rgb(36, 219, 210));
    display: flex;
    align-items: center;
    justify-content: center;
}

.project_page_title {
    color: #fff;
    font-family: 'Quicsksand', sans-serif;
    font-size: 2.5rem;
    line-height: 3rem;
    letter-spacing: 1px;
    padding: 0 5%;
}

.project_page_title::after {
    content: "";
    display: block;
    background: #fff;
    width: 7.5rem;
    height: 4px;
    margin: 0.75rem auto 0 auto;
    box-shadow: 2px 3px 3px 2px rgba(0, 0, 0, 0.048);
    border-radius: 4px;
}

.project_heading {
    font-size: 2rem;
    line-height: 2rem;
}

//Blackjack Game
.blackjack_button_wrapper {
    display: flex;
    justify-content: center;
}

.blackjack_button {
    margin: 0 1rem;
    padding: 1rem;
    background: linear-gradient(to bottom, $primary_color, rgb(36, 219, 210));
    border-radius: 1rem;
    border: none;
    color: #fff;
    font-size: 1.5rem;
    outline: none;
    cursor: pointer;
}

#blackjack_hit_button {
    background: linear-gradient(to bottom, $secondary_color, rgb(196, 60, 1));
}

#blackjack_stay_button {
    background: linear-gradient(to bottom, rgb(88, 216, 95), rgb(63, 175, 69));
}

#blackjack_restart_button {
    background: linear-gradient(to bottom, rgb(238, 221, 72), rgb(182, 192, 35));
    display: grid;
    grid-template-rows: 50% 50%;
}

#blackjack_reset_button {
    background: linear-gradient(to bottom, rgb(231, 129, 33), rgb(206, 112, 25));
}